
.container{
font-family: 'Merriweather', serif;
font-size: 25px;
}


body{
  font-family: 'Merriweather', serif;
text-align: center;
color: white;
margin: 0;
background-color: #E30000;
}

button{
color: linear-gradient( red, orange, red ) ;
width: 900px;
height: 600px;
margin-top: 10px;
border: black 2px solid ;
background: linear-gradient( to left, #4E4E4E, white, #4E4E4E );
font-family: 'Merriweather', serif;
font-size: 50px;
}

header{
  width: 100%;
  background: #4E4E4E;
padding-bottom: 15px;
padding-top: 15px;
}
